<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
     <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="red">
        <h1>WHEN IS THE NEXT AC MILAN MATCH?</h1>
    </div>
    <div class="logos">
        <img class="home-team-img" src="{{ homeTeamImgLink }}" width="80px">
        X
        <img class="away-team-img" src="{{ awayTeamImgLink }}" width="80px">
    </div>
    <div class="info">
        <h3>DATE: <span class="match-date">{{ gameDate }}</span> - {{ localHtml }}</h3>
        <h4>COMPETITION: <span class="competition">{{ tournament }}</span></h4>
    </div>
    <div class="rb"> 
        <h4>by <a href="https://github.com/RenanBotasse" target="_blank"><i class="fab fa-github" style="color:black"> Renan Botasse</i></a></h4>
        <h5 class="today">{{ date }}</h5>
        <h6><span style="color:red">❤</span> Forza Lotta Vincerai Non Ti Lasceremo Mai! ❤</h6>
    </div>
    <script src="server.js"></script>
</body>
</html>
